$section-vertical-padding: 80px;
$section-horizontal-padding: 50px;

$max-app-width: 1200px;
$tablet-breakpoint: 950px;
$mobile-breakpoint: 550px;

$fnt-wght-thn: 400;
$fnt-wght-nrml: 500;
$fnt-wght-bld: bold;

$main: #943535;

$drk-1: #141414;
$drk-2: #242424;
$drk-3: #292929;
$drk-4: #363636;
$drk-5: #4d4d4d;

$lght-1: #fff;
$lght-2: #ececec;
$lght-3: #d8d8d8;
$lght-4: #cfcece;
$lght-5: #bbbbbb;
