@import "./../../../scss/variables";

.commercial-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;

    span {
      position: relative;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: -3px;
        height: 20px;
        border-radius: 5px;
        background: $main;
        width: 100px;
        z-index: -1;
      }
    }
  }

  > div {
    display: flex;
    justify-content: center;
    width: 100%;

    // > div:first-of-type {
    //   button {
    //     border-radius: 7px;
    //     background: none;
    //     border: 2px solid $main;
    //     transition: 0.3s;
    //     opacity: 1 !important;

    //     svg {
    //       fill: $lght-1;
    //     }

    //     &:hover {
    //       background: $main;
    //     }
    //   }

    //   button:first-of-type {
    //     left: 0;
    //   }

    //   button:last-of-type {
    //     right: 0;
    //   }
    // }

    // jak wiecej niz 3 projekty to odkomentuj

    > div {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

@media (max-width: 950px) {
  .commercial-portfolio {
    > div {
      > div:not(.highiglighted-card) {
        //
        > div:first-of-type {
          button {
            border-radius: 7px;
            background: none;
            border: 2px solid $main;
            transition: 0.3s;
            opacity: 1 !important;

            svg {
              fill: $lght-1;
            }

            &:hover {
              background: $main;
            }
          }

          button:first-of-type {
            left: 0;
          }

          button:last-of-type {
            right: 0;
          }
        }
        //

        // jak wiecej niz 3 projekty to usuń
      }
    }
  }
}

@media (max-width: 650px) {
  .commercial-portfolio {
    > div {
      > div {
        padding: 0;
      }
    }
  }
}
